.comic-store {
  text-align: center;
}

.comic-store-logo {
  animation: comic-store-logo-spin infinite 20s linear;
  height: 80px;
}

.comic-store-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.comic-store-intro {
  font-size: large;
}

@keyframes comic-store-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.thumbnail {
  width: 100%;
  max-width: 100px;
  min-width: 100px;
  min-height: 100px;
}

.thumbnail-large {
  width: 100%;
  max-width: 600px;
  min-width: 240px;
  min-height: 240px;
}

.no-button-theme{
    border: none;
    background: none;
    outline: none;
}

.table {float:left;}